@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.container {
    background-color: #121212;
    margin-left: 30em;
    margin-right: 30em;
   /* padding-bottom: 10px;
    padding-top: 10px;*/
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.body {
    font-family: 'Roboto Mono', monospace;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: whitesmoke;

}

.recipebody {
    font-family: 'Roboto Mono', monospace;
    background-color: #121212;
    margin-left: 30em;
    margin-right: 30em;
    text-align: center;
    color: whitesmoke;
}

.download {
    text-align: left;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 10em;
}

a {
    color: whitesmoke;
}

h3 {
    margin-top: 1em;
}


.recipegrid {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.medcraft {
    margin-top: 1em;
}

.home {
    margin-top: 3em;
    margin-bottom: 1em;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

.home:hover {
    transition-duration: 0.4s;
    transform: scale(1.1);
}

.home:active {
	position:relative;
	top:1px;
}

.coffee {
    width: 29%;
    height: auto;
}

.coffee:hover {
    transition-duration: 0.4s;
    transform: scale(1.1);
}